.navbar{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
    align-items: center;
    padding: 1rem 4rem;
}

.navbar_logo h1{
    font-size: 2rem;
}

.navbar p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--color-black);
    margin: 0 1rem;
}

.navbar_search-bar{
    width: 350px;
}

#search-box{
    width: 100%;
    height: 30px;
    border: 2px solid black;
    outline: none;
    font-size: 14px;
    border-radius: 6px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 4px 6px;
}

#search-btn{
    width: 40px;
    height: 30px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding:4px 6px;
    border: 2px solid black;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .navbar{
        gap: 0rem;
        padding: 1rem 2rem;
        justify-content: space-between;
    }

    
}

@media screen and (max-width: 600px) {
    .navbar_logo h1{
        font-size: 1.5rem;
    }

    .navbar_search-bar{
        width: 50%;
    }
    
}





